ELASTIC_VERSION=8.13.4
ELASTIC_PASSWORD=change-me-strong-password
KIBANA_SYSTEM_PASSWORD=change-me-strong-password
KIBANA_ENCRYPTION_KEY=change-me-32-chars-minimum-kibana-key
ES_JAVA_OPTS=-Xms1g -Xmx1g
