# Medusa config
PORT=9000
DATABASE_URL=postgres://medusa:medusa@medusa-db:5432/medusa_store?sslmode=disable
REDIS_URL=redis://medusa-redis:6379
STORE_CORS=http://localhost:8000
ADMIN_CORS=http://localhost:9000
AUTH_CORS=http://localhost:8000,http://localhost:9000
JWT_SECRET=change_me
COOKIE_SECRET=change_me
